article{
	height:100vh;
	top:0;
	right:0;
	position:sticky;
	position: -webkit-sticky;
    overflow-y:auto;
    overflow-x:hidden;
}

article, 
.follow-info, 
.trending-info{
    display:flex;
    flex-direction:column;
    padding:16px;
    gap:16px;
}